@media screen and (max-width: 1100px) {
    .navIcons{
        background:#fff;
        position:fixed;
        bottom:0px;
        left:0;
        width:calc(100%);
        margin: 0;
        padding:15px 20px;
        box-sizing: border-box;
    }
    .navIcons>a>img{
        width:1.5rem;
        height:1.5rem;
    }
    .navIcons>svg{
        width:1.5rem;
        height:1.5rem;
    }
    .navIcons>img{
        width:1.5rem;
        height:1.5rem;
    }
}